<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <test name="Login">
        <classes>
            <class name="ruBeru.FirstTest"/>
        </classes>
    </test>
    <test name="ChangeCity">
        <classes>
            <class name="ruBeru.SecondTest"/>
        </classes>
    </test>
    <test name="Toothbrush">
        <classes>
            <class name="ruBeru.ThirdTest"/>
        </classes>
    </test>
</suite>